<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>┏┳┳┳┓</string>
		<key>state</key>
		<true/>
		<key>member</key>
		<array>
			<dict>
				<key>name</key>
				<string> 你就是我的命根子</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>打法是否哈市静安是国家给</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你是我的少年梦@</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 没了寂寞，谁陪我</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 心如刀割的感觉@</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 不忘初心方得始终</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 时光让我们相遇i</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>┃﹃　﹃┃</string>
		<key>state</key>
		<true/>
		<key>member</key>
		<array>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>打法是否哈市静安是国家给</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>┗┳ロ┳┛</string>
		<key>state</key>
		<true/>
		<key>member</key>
		<array>
			<dict>
				<key>name</key>
				<string> 住我心丿请交房租</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>打法是否哈市静安是国家给</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你的心有一道墙。</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 再回首，已成往事</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 灯红酒绿与我无关</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 傻瓜，我一直在、</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 我的傷，是你給的</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>╭──────╮</string>
		<key>state</key>
		<true/>
		<key>member</key>
		<array>
			<dict>
				<key>name</key>
				<string> 会推开就别深拥我</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>打法是否哈市静安是国家给</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 冷艳高贵接地气i</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你就是我的命根子</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 住我心丿请交房租</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 灯红酒绿与我无关</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 会推开就别深拥我</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>- 我 若 卟 弃 ミ</string>
		<key>state</key>
		<true/>
		<key>member</key>
		<array>
			<dict>
				<key>name</key>
				<string> 会推开就别深拥我</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>打法是否哈市静安是国家给</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 冷艳高贵接地气i</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你就是我的命根子</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 住我心丿请交房租</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 灯红酒绿与我无关</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 会推开就别深拥我</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>- 相 爱 一 生 ミ</string>
		<key>state</key>
		<true/>
		<key>member</key>
		<array>
			<dict>
				<key>name</key>
				<string> 你就是我的命根子</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>打法是否哈市静安是国家给</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你是我的少年梦@</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 没了寂寞，谁陪我</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 心如刀割的感觉@</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 不忘初心方得始终</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 时光让我们相遇i</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>╰──────╯</string>
		<key>state</key>
		<true/>
		<key>member</key>
		<array>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>打法是否哈市静安是国家给</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
			<dict>
				<key>name</key>
				<string> 你太重了我放不下</string>
				<key>icon</key>
				<string>424324</string>
				<key>circle</key>
				<string>是的发生的发生</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
